<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.glic.oceancompass">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher_tour"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_tour_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true"
            tools:targetApi="m">
        <activity android:name=".SignUpActivity" />
        <activity android:name=".ReviewAddActivity" />
        <activity android:name=".SignInActivity" />
        <activity
                android:name=".MainActivity"
                android:launchMode="singleTop"
                android:theme="@style/AppTheme" />
        <activity
                android:name=".SearchActivity"
                android:launchMode="singleTop"
                android:theme="@style/AppTheme" />
        <activity
                android:name=".ReviewActivity"
                android:launchMode="singleTop"
                android:theme="@style/AppTheme"
                android:windowSoftInputMode="adjustNothing"/>
        <activity
                android:name=".StartActivity"
                android:noHistory="true"
                android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>